.app-container {
	height: 100vh;
	max-height: 100vh !important;
	position: fixed;
	left: 0;
	top: 0;
	
	overflow-y: scroll;
	overflow-x: hidden;

  width: 100%;
  padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
  margin-right: auto;
	margin-left: auto;
}
