.app-container {
	// make the content fill the screen nicely
	// height: 100vh;
	// max-height: 100vh;
	// position: fixed;
	// left: 0;
	// top: 0;
	// overflow-y: scroll;
	// overflow-x: hidden;
	// width: 100%;
	
	// // add some nice padding so that the things aren't on top of each other
  padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
  margin-right: auto;
	margin-left: auto;
}

.version {
	position: absolute;
	top: 0px;
	right: 1rem;
	font-size: 0.75rem;
}