.dark-theme {
	@extend :root;
	
	--primary-color: rgb(50, 190, 210);
	--secondary-color: rgb(255, 213, 60);
	--tertiary-color: rgb(255, 50, 119);

	--background-color: rgb(50, 50, 50);
	--primary-text-color: rgb(255, 255, 255);

	--heading-one-color: rgb(0, 255, 125);
}