///////////////////////////////////////////////////////
// Root
// Extended by light and dark themes to allow theme switching
///////////////////////////////////////////////////////
:root {
	//
	// styling that is global, and needs to be defined by the light and dark files
	//

	color: var(--primary-text-color);
	background-color: var(--background-color);
	
	//
  // Common Theme Colors
  // Any specialised ones are contained in the specific theme's file.
  //
  --success-color: rgb(91, 185, 28);
  --error-color: rgba(255, 27, 34, .5);
  --warning-color: rgba(255, 185, 57, 0.8);
	--info-color: rgba(146, 197, 235, 1);

  //
  // The variables below are common between the light and dark themes
	// But use variables defined within those light and dark scss files
	// This way the base can be override, but the same variable can 
	// be used through the appplication
	//
	
	//--scrollbar-color: var(--primary-color);
	--scrollbar-color: var(--primary-color);
	--scrollbar-track-color: var(--secondary-color);

	--primary-link-color: var(--primary-color);
	--primary-link-hover-color: var(--secondary-color);
	--primary-link-visited-color: var(--tertiary-color);

}